---
import MailCatchIcon from "./design/MailCatchIcon.astro";
---

<header
  class="sticky_ fixed w-full top-0 z-100 border-b_ border-slate-200 bg-[#7BB2A2]_ bg-[#7BB2A2] backdrop-blur-md"
>
  <div
    class="mx-auto flex h-16 w-full max-w-full items-center justify-between pl-6"
  >
    <!-- Logo -->
    <a href="/" class="flex items-center">
      <img
        src="/img/logo_white.png"
        alt="株式会社トミザワ"
        class="h-12 w-auto object-contain"
      />
    </a>

    <!-- Desktop Nav -->
    <nav class="hidden items-center gap-4 md:flex h-16">
      <a href="tel:0120673119" class="flex flex-col items-start leading-tight">
        <div class="flex gap-2">
          <img src="/img/free-dial.svg" alt="" class="h-8" />
          <span
            class="leading-none flex items-center tracking-wider gap-1.5 text-3xl font-black text-white"
            style="font-family: 'Oswald', sans-serif;"
          >
            0120-673-119
          </span>
        </div>
        <p class="text-xs mt-0.5 font-normal text-slate-100">
          受付時間10:00〜17:30（日曜・祝日除く）
        </p>
      </a>
      <a
        href="#contact"
        class="inline-flex font-black items-center gap-2 bg-[#fff] h-16 px-10 py-3 text-xl text-[#7BB2A2] transition-colors hover:text-white hover:bg-[#365a4e]"
      >
        <MailCatchIcon class="text-[#7BB2A2] hover:text-white" size={32} />
        無料相談・お見積り
      </a>
    </nav>

    <!-- Mobile Hamburger -->
    <button
      class="flex items-center justify-center rounded p-2 md:hidden"
      x-data
      @click="$dispatch('toggle-menu')"
      aria-label="メニューを開く"
    >
      <span
        class="block h-0.5 w-5 bg-slate-900 before:block before:h-0.5 before:w-5 before:-translate-y-1.5 before:bg-slate-900 after:block after:h-0.5 after:w-5 after:translate-y-1 after:bg-slate-900"
      >
      </span>
    </button>
  </div>
</header>
