---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = '株式会社トミザワ',
  description = '株式会社トミザワ ランディングページ'
} = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet" />
    <title>{title}_</title>
  </head>
  <body class="min-h-screen bg-[#E5E6DF] text-slate-900 antialiased">
    <slot />

    <script>
      import Alpine from 'alpinejs';

      window.Alpine = Alpine;
      Alpine.start();
    </script>
  </body>
</html>
